label {
  font-size: inherit;
}

article button {
  outline: none;
  border: none;
  color: var(--accent);
  display: none;
}

input,
button,
textarea,
select {
  font: inherit;
  background: inherit;
  color: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

input {
  
  border: none;
  border-bottom: 1px solid var(--fg);
  width: 3em;
  margin: 0 0.3em;
  padding: 0 0.5em
}


label:focus,
label:focus-visible,
input:focus, input:focus-visible {
  outline: none;
  color: var(--accent)
}

input[inputMode="numeric"] {
  text-align: right;
}

input.short {
  width: 3em; 
}

input.long {
  width: 10em;
}

input.wide {
 width: 100%;
 padding: 0 0 0 0;
 margin-left: 0; 
}

